<p>Connect As:</p>

<p>
  <label for="caller">Caller</label>
  <input id="caller" value="caller" [(ngModel)]="peerType" type="radio" />

  <label for="callee">Callee</label>
  <input id="callee" value="callee" [(ngModel)]="peerType" type="radio" />
</p>

<div>
  <button *ngIf="peerType && peerConnection" (click)="onConnect()">
    {{
      ['connected', 'connecting'].includes(peerConnection.connectionState)
        ? 'Disconnect'
        : 'Connect'
    }}
  </button>
  <button hidden (click)="sendOffer()">Send Offer</button>
  <button hidden (click)="close()">Close Connection</button>
  <div>Connection Status: {{ peerConnection.connectionState | titlecase }}</div>
</div>
